 @import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';

.r100 {
    font-family: 'rawline', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.r100i {
    font-family: 'rawline', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.r200 {
    font-family: 'rawline', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.r200i {
    font-family: 'rawline', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.r300 {
    font-family: 'rawline', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.r300i {
    font-family: 'rawline', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.r400 {
    font-family: 'rawline', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.r400i {
    font-family: 'rawline', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.r500 {
    font-family: 'rawline', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.r500i {
    font-family: 'rawline', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.r600 {
    font-family: 'rawline', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.r600i {
    font-family: 'rawline', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.r700 {
    font-family: 'rawline', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.r700i {
    font-family: 'rawline', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.r800 {
    font-family: 'rawline', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.r800i {
    font-family: 'rawline', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.r900 {
    font-family: 'rawline', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.r900i {
    font-family: 'rawline', sans-serif;
    font-weight: 900;
    font-style: italic;
}


